/* .window{
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 720px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.heroContainer{
    
top: 72px;
left: 166px;
width: 576px;
height: 576px;
background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 31px #0000000A;
border: 20px solid #FFFFFF;
opacity: 1;

}
#heroImg
{
    position: relative;
    align-self: center;
    vertical-align: middle;
    top: 50px;;
    background: transparent 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #8f04040a;
    opacity: 1;
}

#logo{
    position: relative;
    top: 106px;
    left: 906px;
    width: 272px;
    height: 58px;
    opacity: 1;
}
#loginDetails{
    margin-top: auto;
}
#loginDetails{
    position: relative;
    margin-top: 200px;
    align-self: center;
    margin-left: 150px;
} */
/* .from{
    margin-top: 100px;
}
.loginContainer{
    margin-left: 50px;
    width: max-content;
}
.logocontainer{
    margin-top: 106px;
    left: 906px;
    width: 272px;
    height: 58px;
    opacity: 1;
}
.imgcontainer{
    margin-top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;
}


.img{
    background: transparent url('images/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;

}
.acc{
    margin-top: 25px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.dic{
    font-size: 40px;
    color: #3E3E3E;
    opacity: 100%;
    margin-top: 19.3px;
    left: 905px;
    width: 500px;
    height: 100px;

}
.dic1{
   
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.button{
    width: 138px;
height: 45px;
    background-color: rgb(200, 36, 47);
    color: #FFFFFF;
    border-radius: 23px;
    
}
.text-body{
    
} */

.imgcontainer{
    margin-top: 72px;
    left: 166px;    
}

.img{
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    border-radius: 50%;
    opacity: 1;
    width: 576px;
    height: 576px;
}


.logocontainer{
    margin-top: 106px;
    left: 906px;
    width: 272px;
    height: 58px;
    opacity: 1;
}


.dic{
     font-size: 20px;
    margin-top: 19.3px;
    left: 905px;
    width: 500px;
    height: 100px;
}

.login{
    
    margin-bottom: 23.45px;
}


.button{
    width: 138px;
    height: 45px;
    background-color: rgb(200, 36, 47);
    color: #FFFFFF;
    border-radius: 23px;
    
}

.forgotpass{
    top: 539px;
    margin-left: 150.44px;
    color: #ADADAD;
    width: 121px;
    height: 20px;
}
